<nav class='auto-assessment-menu'>
  <slot />
</nav>

<style>
  .auto-assessment-menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1.2rem;
  }
</style>
