---
import { Icon } from 'astro-icon/components';

interface Props {
  title: string;
  description: string;
  icon: string;
  color: string;
}

const { title, description, icon, color } = Astro.props;
---

<header class='topic-header' style={`--topic-color: ${color}`}>
  <h1 data-heading='icon' data-align='first-line'><Icon name={icon} />{title}</h1>
  <p>{description}</p>
</header>

<style>
  .topic-header {
    margin-bottom: 2rem;
    padding: 4.8rem 4rem;
    border-radius: var(--radius-lg);
    background-image: linear-gradient(
      135deg,
      color-mix(in srgb, var(--topic-color) 90%, black),
      color-mix(in srgb, var(--topic-color) 75%, white)
    );

    :is(h1, p) {
      color: white;
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
  }
</style>
