<section class='topics-grid'>
  <slot />
</section>

<style>
  .topics-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1.5rem;
    margin-top: 2rem;
  }
</style>
