---
import BaseLayout from "@/layouts/BaseLayout.astro";

---
<!-- Below is your "component template." It's just HTML, but with
    some magic sprinkled in to help you build great templates. -->
<BaseLayout title="Home Page" description="Welcome to my Astro site!">
  <h1>Hello, Astro!</h1>
  <p>Welcome to your new Astro site.</p>
</BaseLayout>
<style>
  h1 {
    color: orange;
  }
</style>
