---
interface Props {
  class?: string;
  [key: string]: unknown; // props adicionales
}
const { class: className = '', ...rest } = Astro.props;
---

<div class:list={['dialog-content', className]} {...rest}>
  <slot />
</div>

<style>
  .dialog-content {
    width: 100%;
    height: 100%;
    display: grid;
    gap: 1rem;
    background-color: var(--bg-soft, #fff);
    padding: 1.6rem;
    border: 1px solid var(--border-color);
    border-radius: var(--radius-md);
  }
</style>
