---
interface Props {
  class?: string;
  [key: string]: unknown; // props adicionales
}
const { class: className = '', ...rest } = Astro.props;
---

<h3 class:list={['dialog-title', className]} {...rest}>
  <slot />
</h3>

<style>
  .dialog-title {
  }
</style>
