---
import { getCollection } from 'astro:content';
import { Icon } from 'astro-icon/components';

import ProgressStats from '@/components/stats/ProgressStats.astro';
import StatCard from '@/components/stats/StatCard.astro';
import HomeLayout from '@/layouts/HomeLayout.astro';
import { getAdvancedWeekNumber } from '@/services/advanced-week';

const [week, maxWeeks] = getAdvancedWeekNumber();
const sectionsAvailable = (await getCollection('supplements')).length;
const progressPercent = week === maxWeeks ? 100 : Math.floor((week / maxWeeks) * 100);
---

<HomeLayout
  title='Progreso - Proyecto de Aula'
  description={'Seguimiento del progreso del curso de Servicios de Tecnología de la ' +
    'Información'}
>
  <h3 data-heading='icon'><Icon name='chart-line' />Bienvenido al Proyecto de Aula</h3>
  <!-- Próximos componentes de estadísticas -->
  <ProgressStats>
    <StatCard
      icon='calendar-check'
      title='Semanas Completadas'
      value={`${week}/${maxWeeks}`}
    />

    <StatCard
      icon='clipboard-list'
      title='Secciones Disponibles'
      value={sectionsAvailable.toString()}
    />

    <StatCard icon='percentage' title='Progreso Total' value={`${progressPercent}%`} />
  </ProgressStats>
</HomeLayout>
