<nav class='self-assessment-menu'>
  <slot />
</nav>

<style>
  .self-assessment-menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1.2rem;
  }
</style>
