---
interface Props {
  class?: string;
  [key: string]: any;
}

const { class: userClass, ...rest } = Astro.props;
---

<h5 class:list={["card-title", userClass]} {...rest}><slot /></h5>

<style>
  .card-title {
    margin: 0;
  }
</style>
