---
interface Props {
  class?: string;
  [key: string]: unknown;
}

const { class: userClass, ...rest } = Astro.props;
---

<section class:list={['card-content', userClass]} {...rest}>
  <slot />
</section>

<style>
  .card-content {
    font-size: 1.6rem;
    line-height: 1.6;
  }
</style>
