---
import NavTabs from '@/components/NavTabs.astro';
import WeekProgressBar from '@/components/WeekProgressBar.astro';

import BaseLayout from './BaseLayout.astro';

interface Props {
  title: string;
  description: string;
}

const { title = 'Proyecto de Aula', description } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <WeekProgressBar />
  <NavTabs />
  <main class='main'>
    <slot />
  </main>
</BaseLayout>
<style>
  .main {
    padding: 2rem 2rem 8rem 2rem;
  }
</style>
