---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title} description={frontmatter.description}>
  <Card title={frontmatter.title}>
    <p>{frontmatter.description}</p>
  </Card>

  <article class="contenido">
    <slot />
  </article>
</BaseLayout>
